{
  "project_info": {
    "project_number": "REPLACE_ME",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-firebase-project-id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE:android:REPLACE",
        "android_client_info": {
          "package_name": "com.dotdash.projectbrain"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_KEY_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
